<div id="myheader" class="myheader navbar navbar-inverse">
    <div class="container">
        <img style="height: 30px; width: 30px; margin: 10px; float: left" src="static/favicon.png">
        <p style="float: left; margin: 10px 0 10px; color: white; font-size: 1.6em; line-height: 30px">Tundra</p>
        <nav>
            <ul class="nav navbar-nav pull-right">
                <li><a [routerLink]="['/dashboard']">主页面</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            机器人管理 <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/robots']">机器人</a></li>
                        <li><a [routerLink]="['/contacts']">联系人</a></li>
                        <li><a [routerLink]="['/groups']">群组</a></li>
                        <li><a [routerLink]="['/messages']">消息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            账号管理 <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/accounts']">账号管理</a></li>
                        <li><a [routerLink]="['/alter']">用户中心</a></li>
                        <li><a href="/logout/">退出</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            配置管理 <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/home/accounts']">配置</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="mybody" class="container">
    <router-outlet></router-outlet>
</div>

<tundra-alarm></tundra-alarm>

<div id="myfooter" class="container">
    <div style="height: 1px; background-color: #eaeaea; margin: 20px 0 auto;">
    </div>
    <p>
        版权所有 © 2011-2017 北京信联云通科技有限责任公司
    </p>
</div>