#myheader {
    margin: 0 auto;
    height: 50px;
}

#mybody {
    padding-top: 10px;
    background-color: white;
    margin: 0 auto;
    width: 75%;
}

#mybody h2 {
    color: #333333;
}

#myfooter {
    background-color: white;
    margin: 0 auto;
    width: 75%;
    height: 30px;
    padding-top: 10px;
    color: #777777;
    clear: both;
}

#myfooter p {
    color: gray;
    font-size: 0.5em;
    line-height: 1.6em;
}

#errorPrompt {
    margin: 0 auto;
    width: 400px;
}

#mylabel {
    color: black;
}