<div id="myheader">
    <div class="headercontent">
        <img src="static/imgs/favicon.png">
        <p>Tundra</p>
    </div>
</div>

<div class="headercontent">
    <nav style="float: left">
        <a routerLink="/dashboard" routerLinkActive="active">仪表盘</a>
        <a routerLink="/accounts" routerLinkActive="active">账号</a>
        <a routerLink="/config" routerLinkActive="active">配置</a>
    </nav>
</div>

<div id="myfooter">
    <div style="height: 1px; background-color: #eaeaea; margin: 20px 0 auto;">
    </div>
    <p>
        版权所有 © 2011-2017 北京信联云通科技有限责任公司
    </p>
</div>
