<div id="myheader" class="myheader navbar navbar-inverse">
    <div class="container">
        <img style="height: 30px; width: 30px; margin: 10px; float: left" src="static/imgs/favicon.png">
        <p style="float: left; margin: 10px 0 10px; color: white; font-size: 1.6em; line-height: 30px">Tundra</p>
        <nav>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/">主页面</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            机器人管理 <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a href="/ui/robot/">机器人</a></li>
                        <li><a href="/ui/contact/">联系人</a></li>
                        <li><a href="/ui/group/">群组</a></li>
                        <li><a href="/ui/message/">消息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            账号管理 <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a href="/ui/account/">账号管理</a></li>
                        <li><a href="/ui/usercenter/">用户中心</a></li>
                        <li><a href="/ui/logout/">退出</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            配置管理 <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a href="/ui/config/">基本配置</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="mybody" class="container">
    <router-outlet></router-outlet>
</div>

<div id="mybody" class="container">

    <div id="mylabel">
        <h2>账号信息</h2>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>属性</th>
            <th>内容</th>
        </tr>
        <tr>
            <td>名称</td>
            <td>vm</td>
        </tr>
        <tr>
            <td>状态</td>
            <td style="color: green">Running</td>
        </tr>
        <tr>
            <td>UUID</td>
            <td>41566882-5c64-49e5-b38d-d891442a6269</td>
        </tr>
    </table>
</div>

<div id="myfooter" class="container">
    <div style="height: 1px; background-color: #eaeaea; margin: 20px 0 auto;">
    </div>
    <p>
        版权所有 © 2011-2017 北京信联云通科技有限责任公司
    </p>
</div>