<!DOCTYPE html>
<html>
<head>
    <title>RVM V5 API UNITEST</title>
    <link rel="icon" href="/ng/static/imgs/logo.png" type="image/x-icon">
    <script src="/ng/static/jquery-1.11.3.min.js"></script>
    <script src="/ng/static/js/utils.js"></script>
    <link href="/ng/static/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/ng/static/bootstrap334/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/ng/static/bootstrap334/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/ng/static/bootstrap334/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>
    <script src="/ng/static/bootstrap334/js/bootstrap.min.js"></script>
    <script src="/ng/static/bootstrap334/js/bootstrap-datetimepicker.js"></script>
    <script src="/ng/static/bootstrap334/js/locales/bootstrap-datetimepicker.fr.js"></script>
    <script src="/ng/static/bootstrap334/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>

<div class="container">

    <h1>欢迎使用API单元测试功能</h1>

    <textarea title="" id="hidenString" hidden style="height: 1px">
        {{ moduleListStr }}
    </textarea>

    <textarea title="" id="hidenResultString" hidden style="height: 1px">
        {{ resultStr }}
    </textarea>

    <div style="display: inline-block; padding-top: 25px">
        <label class="" style="width: 80px;float: left;line-height: 34px; margin-right: 10px">选择模块：</label>
        <select id="apiModuleList" onchange="updateApis();" title="" style="margin-right:10px; width: 150px;float: left" class="form-control">
            {% for (moduleName, apis) in moduleList.items() %}
                {% if moduleName == result["moduleSelected"] %}
                    <option selected>{{ moduleName }}</option>
                {% else %}
                    <option>{{ moduleName }}</option>
                {% end %}
            {% end %}
        </select>
        <label class="" style="width: 80px;float: left;line-height: 34px; margin-right: 10px">选择API：</label>
        <select id="apiList" onchange="updateParas();" title="" style="margin-right:10px; width: 200px;float: left" class="form-control">
            {% for api in moduleList[result["moduleSelected"]] %}
                {% if api["key"] == result["apiSelected"] %}
                    <option value="{{ api['key'] }}" selected>{{ api["name"] }}</option>
                {% else %}
                    <option value="{{ api['key'] }}">{{ api["name"] }}</option>
                {% end %}
            {% end %}
        </select>
        <input id="moduleQueryButton" style="display: inline-block; width: 80px; float: left" onclick="commint_request();" type="button"
               value="提交" class="btn btn-primary"/>
    </div>

    <div>
        <label class="" style="width: 150px;float: left;line-height: 34px; margin-right: 10px">请输入参数：</label>
        <div>
            <table id='apiRequestTable' style='word-break: break-all; table-layout: fixed' class="table table-striped">
            </table>
        </div>
    </div>

    <label class="" style="width: 80px;float: left;line-height: 34px; margin-right: 10px">请求内容：</label><br><br>
    <div>
        <pre id="requestBody" style="height: 100%; padding: 5px" title="">
            {% if result %}
                {{ result["request"] }}
            {% end %}
        </pre>
    </div>

    <label class="" style="width: 80px;float: left;line-height: 34px; margin-right: 10px">回复内容：</label><br><br>
    <div>
        <pre id="responseBody" style="height: 100%; padding: 5px" title="">
            {% if result %}
                {{ result["reply"] }}
            {% end %}
        </pre>
    </div>


</div>

<script>

    function getSelectedApi() {
        selectedModule = getSelectedOption("#apiModuleList");
        selectedApi = getSelectedOption("#apiList");

        apiListObj = JsonObj[selectedModule];
        for (var i = 0; i < apiListObj.length; i++) {
            temp = apiListObj[i];
            if (temp["key"] == selectedApi) {
                return temp;
            }
        }

        return null;
    }

    function updateParas() {

        bodyStr = "";

        selectedApiObj = getSelectedApi();
        parasList = selectedApiObj["paras"];

        var $parasTable = $("#apiRequestTable");

        bodyStr += "<tr><th width='25%'>名称</th>";
        bodyStr += "<th width='25%'>类型</th>";
        bodyStr += "<th style='word-break: break-all'>内容</th></tr>";

        for (var item in parasList) {

            var placeHolder = parasList[item]["descCN"];
            var value = "";

            if (parasList[item]["default"] != "NotNull") {
                placeHolder = placeHolder + " ( " + parasList[item]["default"] + " ) ";
                value = parasList[item]["default"];
            }

            if (resultObj["paras"][item] != null) {
                value = resultObj["paras"][item];
            }

            bodyStr += "<tr><td><input type='text' disabled readonly name='name' value = " + item + "></td > ";
            bodyStr += "<td><select readonly disabled name='type' class='form-control'><option>" + parasList[item]["type"] + "</option></select></td > ";
            bodyStr += "<td><input type='text' name='value' placeholder='" +  placeHolder + "' value = '" + value + "'></td></tr>";
        }

        $parasTable.html(bodyStr);
    }

    function updateApis() {
        selectedModule = getSelectedOption("#apiModuleList");

        var $apiList = $("#apiList");
        var bodyStr = "";

        apiListObj = JsonObj[selectedModule];

        for (var i = 0; i < apiListObj.length; i++) {
            apiNode = apiListObj[i];
            bodyStr += "<option value='" + apiNode["key"] + "'>" + apiNode["name"] + "</option>"
        }

        $apiList.html(bodyStr);

        updateParas();
    }

    function fetch_api_paras() {
        var paras = {};

        $apiTable = $("#apiRequestTable");
        var $trs = $apiTable.children("tbody").children("tr");
        $trs.each(function(index) {
            var $tr = $(this);
            if (index != 0) {
                $tds = $tr.children("td");
                name = $tds[0].children[0].value;
                valueType = $tds[1].children[0].value;
                value = $tds[2].children[0].value;
                if (valueType == "int") {
                    paras[name] = parseInt(value);
                }else if (valueType == "boolean") {
                    paras[name] = value.toLowerCase() == "true";
                } else {
                    paras[name] = value;
                }
              }
        });

        return paras;
    }


    function commint_request() {

        selectedModule = getSelectedOption("#apiModuleList");
        selectedApi = getSelectedOption("#apiList");

        json = {
            "module": selectedModule,
            "api": selectedApi,
            "paras": fetch_api_paras(),
            "async": false
        };

        bodyStr = JSON.stringify(json);

        httpPost("/api/", bodyStr, function(resJson){
            $("#requestBody").html(JSON.stringify(json, null, 4));
            $("#responseBody").html(JSON.stringify(resJson, null, 4));
        });
    }

    function commint_request_old() {

        selectedModule = getSelectedOption("#apiModuleList");
        selectedApi = getSelectedOption("#apiList");

        json = {
            "module": selectedModule,
            "api": selectedApi,
            "paras": fetch_api_paras()
        };

        bodyStr = JSON.stringify(json);

        httpPost("/api/test/", bodyStr, function(){
            window.location.href = "/api/test/" + window.location.search;
        });
    }

    var $hidenNode = $("#hidenString");
    var JsonObj = JSON.parse($hidenNode.html());

    var $hidenResultNode = $("#hidenResultString");
    var resultObj = JSON.parse($hidenResultNode.html());

    updateParas();

</script>

</body>
</html>
