<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body>

{% include 'header.html' %}

<div class="container">

    <h2 style="text-align: left">仪表盘</h2>

    <div id="errorPrompt">
    </div>

    <table id="configurationContent" class="table table-striped">
    </table>
    <br>

    {% include 'footer.html' %}

</div>


<script>

    function updateConfigTable(dataObj) {

        bodyStr = "";

        $configTable = $("#configurationContent");

        bodyStr += "<tr><th>属性</th><th>内容</th></tr>";
        bodyStr += "<tr><td>账号数</td><td><a class='btn btn-info detail-button' href='/ui/account/'>" + dataObj["accounts"] + " 个</a></td></tr>";
        bodyStr += "<tr><td>机器人数</td><td><a class='btn btn-info detail-button' href='/ui/robot/'>" + dataObj["robots"] + " 个</a></td></tr>";
        bodyStr += "<tr><td>消息数</t><td><a class='btn btn-info detail-button' href='/ui/snapshot/'>" + dataObj["messages"] + " 个</a></td></tr>";

        $configTable.html(bodyStr);
    }

    function updateConfiguration(keyword) {

        json = {
            "api": "octlink.wcrobot.v1.config.APIShowSystemInfo",
            "paras": {
                "timeout": 0
            },
            "session": {
                "uuid": "00000000000000000000000000000000",
                "skey": "00000000000000000000000000000000"
            },
            "async": false
        };

        bodyStr = JSON.stringify(json);

        httpPost("/api/", bodyStr, function (resJson) {

            retData = parseResponse(resJson);
            if (retData === null) {
                return;
            }

            updateConfigTable(retData);
        });
    }

    updateConfiguration();

</script>

</body>

</html>
