<div id="myfooter">
    <div style="height: 1px; background-color: #eaeaea; margin: 0 auto;">
    </div>
    <p>
        版权所有 © 2011-2017 北京信联云通科技有限责任公司
    </p>
</div>

<script>

    var expireStates = $(".expireCheck");
    for (i = 0; i < expireStates.length; i++) {
        $item = expireStates[i];
        if ("true" == true) {
            $item.style.color = "red";
        } else if ($item.innerHTML == true) {
            $item.style.color = "#f0ad4e";
        } else {
            $item.style.color = "green";
        }
    }
</script>