<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body>

{% include 'header.html' %}

<div id="mybody">

    <h2>组消息</h2>

    <div style="margin-bottom: 15px; height: 32px">
        <label class="" style="float: left;line-height: 32px; margin-right: 5px; margin-bottom: 15px">请选择机器人：</label>
        <select style="margin-right:10px; width: 200px;float: left" class="form-control" id="robotSelector" name="robot" title="">
            <option selected value="ZhangSan">张三</option>
            <option value="lisi">李四</option>
            <option value="365">王二</option>
        </select>
        <input type="text" style="margin-right:10px; width: 200px; float: left; line-height: 28px" placeholder="请输入关键字" id="queryKeyword" name="keyword" value="">
        <div class="robotbutton" onclick="doGroupQuery()" title="刷新"><img src="/ng/static/imgs/button_refresh.png"></div>
    </div>

    <table id="fileListContent" class="table table-striped">
    </table>

</div>

{% include 'footer.html' %}

{% include 'dataConfirmModal.html' %}

<script>

    doGroupQuery();

</script>

</body>
</html>