<div id="myheader" class="myheader navbar navbar-inverse">
    <div class="container">
        <img style="height: 30px; width: 30px; margin: 10px; float: left" src="/static/imgs/weixin.png">
        <p style="float: left; margin: 10px 0 10px; color: white">WCROBOT机器人</p>
        <nav>

                <ul class="nav navbar-nav pull-right">
                    <li><a href="/">主页面</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            机器人管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ui/robot/">机器人</a></li>
                            <li><a href="/ui/contact/">联系人</a></li>
                            <li><a href="/ui/group/">群组</a></li>
                            <li><a href="/ui/message/">消息</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            账号管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ui/account/">账号管理</a></li>
                            <li><a href="/ui/usercenter/">用户中心</a></li>
                            <li><a href="/ui/logout/">退出</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            配置管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ui/config/">基本配置</a></li>
                        </ul>
                    </li>
                </ul>

        </nav>
    </div>
</div>