<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a id="logo" href="/">WCROBOT</a>
        <nav>

                <ul class="nav navbar-nav pull-right">
                    <li><a href="/">主页面</a></li>
                    <li><a href="/ui/robot/">机器人管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            账号管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ui/roottemplate/">账号管理</a></li>
                            <li><a href="/ui/datatemplate/">用户中心</a></li>
                            <li><a href="/ui/isotemplate/">退出</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            配置管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ui/config/">基本配置</a></li>
                        </ul>
                    </li>
                </ul>

        </nav>
    </div>
</header>