<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" href="/static/imgs/logo.png" type="image/x-icon">
    <script src="/static/jquery-1.11.3.min.js"></script>
    <link href="/static/bootstrap334/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/bootstrap334/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/bootstrap334/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>
    <script src="/static/bootstrap334/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap334/js/bootstrap-datetimepicker.js"></script>
    <script src="/static/bootstrap334/js/locales/bootstrap-datetimepicker.fr.js"></script>
    <script src="/static/bootstrap334/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="/static/js/utils.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>

    <title>WCROBOT</title>

        <script>
                var g_isIE = !!window.ActiveXObject || "ActiveXObject" in window;
                if (g_isIE == true) {
                        console = {};
                        console.log = function(){ return null;}
                }
        </script>

</head>