<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a id="logo" href="/">OCT备份存储管理界面</a>
        <nav>

                <ul class="nav navbar-nav pull-right">
                    <li><a href="/">主页面</a></li>
                    <li><a href="/ui/file/">文件管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            镜像管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ui/roottemplate/">根镜像</a></li>
                            <li><a href="/ui/datatemplate/">数据镜像</a></li>
                            <li><a href="/ui/isotemplate/">ISO镜像</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            快照管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ui/snapshot/">快照文件</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            配置管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ui/config/">基本配置</a></li>
                        </ul>
                    </li>
                </ul>

        </nav>
    </div>
</header>