<!DOCTYPE html>
<html>
  <head>

    <base href="/">

    <link rel="icon" href="static/favicon.png" type="image/x-icon">

    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content=always name=referrer>    

    <title>Tundra Platform</title>

    <link rel="stylesheet" href="static/static/css/main.css" type="text/css"/>
    <link href="static/static/bootstrap334/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/static/bootstrap334/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/static/bootstrap334/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>

    <!-- Polyfills -->
    <script src="static/static/js/shim.min.js"></script>

  </head>

  <body>

    <tundra-ui>Loading...</tundra-ui>
    <script src="static/bundle.js"></script>

    <script src="static/static/jquery-1.11.3.min.js"></script>
    <script src="static/static/js/utils.js"></script>
    <script src="static/static/bootstrap334/js/bootstrap.min.js"></script>
    <script src="static/static/bootstrap334/js/bootstrap-datetimepicker.js"></script>
    <script src="static/static/bootstrap334/js/locales/bootstrap-datetimepicker.fr.js"></script>
    <script src="static/static/bootstrap334/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  </body>
</html>
