<!DOCTYPE html>
<html>
<head>
    <title>RVM-Websocket-Test-Page</title>
    <link rel="icon" href="/static/imgs/logo.png" type="image/x-icon">
    <script src="/static/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">//<![CDATA[

    $(function () {
		function getUrl () {
			var host = document.location.hostname;
			var port = document.location.port;
			if (host == null || host == "") {
				host = "127.0.0.1"
			}
			if (port == null || port  == "") {
				port = "80"
			}
			return "ws://" + host + ":" + port + "/_ws_/"
		}

		var wsUrl = getUrl();

		console.log(wsUrl);

        var s = new WebSocket(wsUrl);

        s.onopen = function () {
            console.log('WebSocket open');
        };

        s.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var msgFormat = JSON.stringify(data, null, "  ");
            console.log(msgFormat);
            $('#messagecontainer').html('<pre>' + msgFormat + '</pre>');
        };

        s.onclose = function(e) {
            console.log('WebSocket closed');
        };

        window.s = s;

        $('#send_message').click(function () {
            s.send($('#message').val());
        });
    });
    //]]></script>
</head>
<body>
<div class="input" width="90%" style="margin:0 auto">
<textarea type="text" id="message" value="Hello, World!" style="display:block;width:50%;height:100px;font-size:20px"></textarea>
<button type="button" id="send_message">Send message</button>
</div>
<h1>Received Messages</h1>
<div id="messagecontainer">

</div>
</body>
</html>
