* {
    padding: 0;
    margin: 0;
}

.basic {
    background-color: #265a88
}

html {
    height: 100%;
}

body {
    background-color: white;
    height: inherit;
}


section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

tr td {
    vertical-align: middle !important;
}