* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: white;
    height: inherit;
}

header {
    background-color: #265a88;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
}

.attr {
    background-color: #eeeeee;
    color: black;
    border: 1px solid #0066bb;
}


html {
    overflow-y: scroll;
    height: 100%;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

.container {
    width: 85%;
}

tr td {
    vertical-align: middle !important;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777777;
}

footer a {
    color: gray;
}